<form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <mat-icon matPrefix aria-hidden="true">mail</mat-icon>
    <input matInput type="email" name="email" formControlName="email" autocomplete="email" required />
    @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
      <mat-error>Enter a valid email address</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <mat-icon matPrefix aria-hidden="true">lock</mat-icon>
    <input matInput type="password" name="password" formControlName="password" autocomplete="current-password" required />
    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
      <mat-error>Enter a valid password</mat-error>
    }
  </mat-form-field>

  <a class="forgot-password" (click)="redirectToForgotPassword()">Forgot password?</a>

  @if (loginError()) {
    <mat-error>{{ loginError() }}</mat-error>
  }

  <button mat-flat-button type="submit" class="submit-button">
    <mat-icon aria-hidden="true">login</mat-icon>
    Login
  </button>
</form>
